<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Super mock - error</title>
  <link rel="stylesheet" href="/v1/css/mock.css">
  <link rel="stylesheet" href="/v1/css/error.css">
</head>
<body class="w-full h-full py-10 flex flex-col gap-5 justify-around text-center bg-center bg-cover bg-fixed text-white">
  <!-- background overlay -->
  <div class="w-full h-full fixed bg-black top-0 -z-10 bg-opacity-50"></div>

  <h1 class="text-4xl">Ooops!</h1>
  <h2 class="text-3xl text-red-500"><%= statusCode %></h2>
  <% if (locals.message) { %>
  <h3 class="text-2xl"><%= message %></h3>
  <% } else { %>
  <h3 class="text-2xl">An error has occurred</h3>
  <% } %>
  <% if (locals.details) { %>
  <h3><%= details %></h3>
  <% } %>

  <div class="w-full flex justify-center gap-5 font-bold text-xl">
    <button onclick="history.back()" class="hover:underline text-blue-300">Back</button>
    <a href="/v1/" class="hover:underline text-blue-300">Home</a>
  </div>
</body>
</html>
