<app-header [navigation]="[{name: 'Artists', url: '/content/artists'}]"></app-header>
<div class="w-full h-full">
  <div *ngIf="isLoading">
    Loading...
  </div>
  <div *ngIf="!isLoading">
    <div *ngIf="!isDBInitialized">
      <p>😱 Looks like database is not initialized</p>
      <p>You may need to initialize it first</p>
      <button (click)="initDB()">Initialize DB</button>
    </div>
    <div *ngIf="isDBInitialized" class="flex flex-col gap-3 justify-center mx-5">
      <div class="w-full mx-auto md:w-1/2">
        <app-search-bar label="Search artists" placeholder="Ana Tijoux"></app-search-bar>
      </div>
      <div class="flex justify-around flex-wrap gap-3 md:gap-6 pt-5">
        <app-artist *ngFor="let artist of artists" [artistData]="artist"></app-artist>
      </div>
    </div>
  </div>
</div>
