<mat-toolbar class="sticky top-0 z-50 flex justify-between px-5">
  <div>
    <span>Super Mock</span>
    <span *ngFor="let navItem of navigation">&nbsp;> <a [routerLink]="navItem.url" class="hover:underline">{{navItem.name}}</a></span>
  </div>

  <div class="flex gap-x-5">
    <button routerLink="/cart" matTooltip="See your shopping cart">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button (click)="logout()" matTooltip="Logout">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
