<app-header [navigation]="navigation"></app-header>
<div *ngIf="isLoading">
  <p>Loading...</p>
</div>
<div *ngIf="!isLoading">
  <div *ngIf="!cart" class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 px-5 mx-auto">
    <div class="text-center flex flex-col gap-5">
      <span>😱 Your shopping cart is empty!</span>
      <div>
        <button mat-raised-button routerLink="/">Go Home</button>
      </div>
    </div>
  </div>
  <div *ngIf="cart">
    <app-artists-in-cart></app-artists-in-cart>
  </div>
</div>
